<% layout('../layouts/default.ejs') -%>
<div class="row">
  <div id="resultsPanel" class="col-md-6 col-md-offset-1">
    <div id="resultStats">
      <small>About <%= total %> results (<%= time %> seconds) </small>
    </div>
    <div id="searchResults">
      <ul class="list-unstyled">
        <% for (var i = 0; i < results.length; i++) { %>
        <li>
          <h4><a href="/literatures/detail/<%=results[i].id %>"><%= results[i].title %></a></h4>
          <p>
            <%= results[i].abstract.length > 800 ? results[i].abstract.substr(0, 800) + '...' : results[i].abstract %>
          </p>
        </li>
        <% } %>
      </ul>
      <ul class="pagination">
        <!-- first page -->
        <% if (isFirstPage) { %>
          <li class="disabled"><a href="#">&laquo;</a></li>
        <% } else{ %>
          <li><a href="?p=1">&laquo;</a></li>
        <% }; %>

        <% for (var i = 1; i <= totalPage; i++) { %>
          <% if (i==page) { %>
            <li class="active"><a href="?p=<%= i %>"><%= i %></a></li>
          <% }else{ %>
            <li><a href="?p=<%= i %>"><%= i %></a></li>
          <% }; %>
        <% }; %>

        <!-- last page -->
        <% if (isLastPage) { %>
          <li class="disabled"><a href="#">&raquo;</a></li>
        <% } else{ %>
          <li><a href="?p=<%= totalPage %>">&raquo;</a></li>
        <% }; %>
      </ul>
  </div>
</div>