<% layout('../layouts/default') -%>
<% script('/js/literature-detail.js') -%>
<% script('/js/temp.js') -%>
<% script('/js/literature-brief-comment.js') -%>
<% script('/js/literature-rich-comment.js') -%>


<div class="row">
  <div class="col-md-8">
    <div class="row">
      <input type="hidden" id="literature-id" value="<%=literature.id %>"/>
      <h3><%=literature.title ? literature.title: '' %></h3>
      <div class="col-md-2">
        <img src="/img/paper.jpg" alt="160x160" class="img-thumbnail">
      </div>
      <div id="literature-meta" class="col-md-6">
        <dl>
          <dt>Year:</dt>
          <dd><%=literature.year %></dd>

          <dt>Authors:</dt>
          <dd><span><%=literature.authors %></span></dd>

          <% if (literature.file && literature.file.name) { %>
          <dt>Full Text</dt>
          <dd><span title="<%=literature.file.name + ' (' + literature.file.size + ')' %>" class="file-download-btn" title="download" data-url="<%=literature.file.path %>"><img src="/img/pdf.png" alt="pdf"></span></dd>
          <% } %>

          <% if (literature.accessories && literature.accessories.length) { %>
          <dt>Accessories</dt>
          <dd>
              <% var exextensions=['pdf', 'doc', 'docx', 'ppt', 'pptx', 'rar', 'zip']; %>
              <% var types=['image', 'audio', 'video']; %>
              <% for (var i = 0; i < literature.accessories.length; i++) { %>
                <% var accessory = literature.accessories[i];
                   var fileicon = 'file';
                   if (exextensions.indexOf(accessory.exextension) >= 0) {
                    fileicon = accessory.exextension;
                   } else if (types.indexOf(accessory.type) >= 0) {
                    fileicon = accessory.type;
                   }
                %>
                  <span  title="<%=accessory.name + ' (' + accessory.size + ')' %>" class="file-download-btn" data-url="<%=accessory.path %>"><img src="/img/<%=fileicon %>.png"></span>
              <% } %>
            <% } %>
          </dd>
        </dl>
      </div>

      <div id="literature-rating" class="col-md-4">
        <h5>Rating</h5>
        <% if (literature.score_avg) { %>
        <% var score = Math.floor(literature.score_avg); %>
        <% for (var i = 0; i < score; i++) {%>
           <i class='glyphicon glyphicon-star'></i>
        <% } %>
        <% for (var i = 0; i < (5 - score); i++) { %>
           <i class='glyphicon glyphicon-star-empty'></i>
        <% } %>
        <%=literature.score_avg %>
        <% } %>
        <p><%=literature.score_avg ? literature.score_count : 0 %> people rated</p>
        <br><br>
        <h5>Make Your rating</h5>
        <input type="number" data-max="5" data-min="1" value="0"  id="literature-rate-star" class="rating" />
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#abstract" data-toggle="tab">Abstract</a></li>
      <li><a href="#references" data-toggle="tab">References</a></li>
      <li><a href="#cited" data-toggle="tab">Cited By</a></li>
      <li><a href="#keywords" data-toggle="tab">Keywords</a></li>
    </ul>

    <div class="tab-content" id="literature-detail-tab">

      <div class="tab-pane fade in active well" id="abstract">
        <div><%=literature.abstract ? literature.abstract : 'No Abstract Yet!' %></div>
        <br><br>
        <% var printedKeys = ['url', 'pages', 'edition', 'publisher', 'editors', 'isbn', 'book_name', 'publication', 'volume', 'issue', 'doi', 'city', 'college'] %>
        <% for (var i = 0; i < printedKeys.length; i++) {
          if (literature.hasOwnProperty(printedKeys[i]) && literature[printedKeys[i]]) {
        %>
          <div>
            <strong><%=printedKeys[i].toUpperCase() + ': ' %></strong>
            <%=literature[printedKeys[i]] %>
          </div>
          <% } %>
        <% } %>
      </div>


      <div class="tab-pane fade well" id="references">
        <div class="checkbox-options">
          <% for (var i = 0; i < referenceType.length; i++) { %>
          <label>
            <input type="checkbox" checked value="<%=referenceType[i] %>"> <%=referenceType[i] %>
          </label>
          <% } %>
        </div>
        <div>
          <small><%=literature.references.length + ' References'%></small>
        </div>
        <ul>
          <% for (var i = 0; i < literature.references.length; i++) { %>
          <% var ref = literature.references[i]; %>
          <li data-ref-type="<%=ref.type %>">
            <% if (ref.id) { %>
            <a href="/literatures/detail/<%=ref.id %>"><%=ref.title %></a>
            <% } else { %>
            <p><%=ref.title %></p>
            <% } %>
          </li>
          <% } %>
        </ul>
      </div>


      <div class="tab-pane fade well" id="cited">
        <div class="checkbox-options">
          <% for (var i = 0; i < referenceType.length; i++) { %>
          <label>
            <input type="checkbox" checked value="<%=referenceType[i] %>"> <%=referenceType[i] %>
          </label>
          <% } %>
        </div>
        <div>
          <small><%=cited.length + ' Cited'%></small>
        </div>
        <ul>
          <% for (var i = 0; i < cited.length; i++) { %>
          <% var citedItem = cited[i]; %>
          <li data-ref-type="<%=citedItem.type %>">
            <a href="/literatures/detail/<%=citedItem.id %>"><%=citedItem.title %></a>
          </li>
          <% } %>
        </ul>
      </div>


      <div class="tab-pane fade well" id="keywords">
        <div>
          <strong>KEYWORDS: </strong>
          <%=literature.keywords ? literature.keywords : 'No Keywords Yet!' %>
        </div>
        <br>
        <div>
          <strong>tags: </strong>
          <%=literature.tags ? literature.tags : 'You can make detail comments to add tags!' %>
        </div>
      </div>
    </div>
  </div>

  <div id="brief-comments" class="col-md-4">
    <h3>Brief Conments</h3>
    <ul class="list-unstyled" id="brief-list">
      <li class="">
        <a href="#" class="">
          Cyanny LIANG
        </a>
        <p class="">It's really good about cloud computing!</p>
      </li>
      <li class="">
        <a href="#" class="">
          Arron FENG
        </a>
        <p class="">It's really Bad paper! Dont know what it is sayins.</p>
      </li>
      <li class="">
        <a href="#" class="">
          Thomas ZHANG
        </a>
        <p class="">It's just OK. There's some other paper explains things better.</p>
      </li class="">
      <li>
        <a href="#" class="">
          Smone Else
        </a>
        <p class="">lalala, love this paper lalala~</p>
      </li>
    </ul>
    <div>
      <textarea class="form-control" rows="3" id="brief-comment-area" placeholder="Add your brief comment here..."></textarea>
      <div class="pull-right">
        <a href="#" class="btn">Save Draft</a>
        <button type="button" class="btn btn-success" id="brief-submit" onclick="displayDate()">Submit</button>
      </div>
    </div>
  </div>
</div>

<div id="rich-comments">
  <input type="hidden" name="rich-comment-type" id="rich-comment-type" value="<%=escape(richCommentType) %>" />
  <button class="btn btn-success pull-right" data-toggle="modal" data-target="#rich-comment-modal">Add detail comment</button>

  <h3>Detail Comments</h3>
  <div id="rich-comments-list">
  </div>
</div>
