<% layout('../layouts/default') -%>
<% stylesheet('/lib/jquery/css/jquery.fileupload.css') -%>
<% script('/lib/jquery/js/jquery.ui.widget.js') -%>
<% script('/lib/jquery/js/jquery.iframe-transport.js') -%>
<% script('/lib/jquery/js/jquery.fileupload.js') -%>
<% script('/js/fileuploader.js') -%>
<% script('/js/literature-uploader.js') -%>
<% script('/lib/bootstrap/js/bootstrap3-typeahead.min.js') -%>
<div class="row">
  <div id="upload-info">
    <ul class="nav nav-tabs">
      <li class="dropdown active">
        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown"><b>Category</b><b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="category-tabs">
          <% for (var i = 0; i < categories.length; i++) { %>
          <% var cat = categories[i] %>
          <li class="<%= literature.category === cat.name ? 'active' : '' %>">
            <a href="#<%=cat.name %>" tabindex="-1" data-toggle="tab"><%=cat.name %></a>
          </li>
          <% } %>
        </ul>
      </li>
    </ul>

    <div class="tab-content well">
      <% for (var i = 0; i < categories.length; i++) { %>
      <% var cat = categories[i] %>
      <div class="tab-pane fade <%= literature.category === cat.name ? 'in active' : ''  %>" id="<%=cat.name %>">
        <form class="form-horizontal" role="form">
          <input type="hidden"  name="category" value="<%=cat.name %>"/>
           <% for (var j = 0; j < cat.info.length; j++) { %>
            <% var item = cat.info[j]; %>
            <% if (item.toLowerCase() !== 'references') { %>
              <div class="form-group">
                <label for="<%=item %>" class="col-md-1 control-label"><%=item.toUpperCase() %></label>
                <% if (item.toLowerCase() === 'abstract' ) { %>
                  <div class="col-md-11">
                    <textarea type="text" rows="8" name="<%=item %>" id="<%=item %>" class="form-control" placeholder="<%=item %>"><%= literature.abstract ? literature.abstract : '' %></textarea>
                  </div>
                <% } else if (['year', 'volume', 'issue'].indexOf(item) >= 0) { %>
                  <div class="col-md-3">
                    <input type="number" name="<%=item %>" id="<%=item %>" class="form-control" placeholder="<%=item %>"  value="<%=literature[item] ? literature[item] : 0 %>"/>
                  </div>
                <% } else { %>
                   <div class="col-md-11">
                    <input type="text" name="<%=item %>" id="<%=item %>" class="form-control" placeholder="<%=item %>" value="<%=literature[item] ? literature[item] : '' %>"/>
                  </div>
                <% } %>
              </div>
            <% } else { %>
              <div class="form-group">
                <% for (var p = 0; p < literature.references.length; p++) { %>
                <% var refitem = literature.references[p]; %>
                <div class="reference-item">
                  <label for="references" class="col-md-1 control-label"><%=p === 0 ? 'REFERENCES' : '' %></label>
                  <div class="col-md-7">
                    <input type="text" data-provide="typeahead" name="references[]" class="form-control" placeholder="reference" value="<%=refitem.title %>">
                  </div>
                  <label for="reference-type" class="col-md-1 control-label">Type</label>
                  <div class="col-md-2">
                    <select  name="reference-type" class="form-control">
                      <% for (var k = 0; k < referenceType.length; k++) { %>
                        <option <%= referenceType[k] === refitem.type ? 'selected' : 0%> >
                          <%=referenceType[k] %>
                        </option>
                      <% } %>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <% if (p === 0 ) { %>
                      <span id="add-reference-btn" class="glyphicon glyphicon-plus"></span>
                    <% } else { %>
                      <span class="glyphicon glyphicon-remove"></span>
                    <% } %>
                  </div>
                </div>
                <% } %>
                <% if (literature.references.length === 0) { %>
                <div class="reference-item">
                  <label for="references" class="col-md-1 control-label">REFERENCES</label>
                  <div class="col-md-7">
                    <input type="text" data-provide="typeahead" name="references[]" class="form-control" placeholder="reference">
                  </div>
                  <label for="reference-type" class="col-md-1 control-label">Type</label>
                  <div class="col-md-2">
                    <select  name="reference-type" class="form-control">
                      <% for (var k = 0; k < referenceType.length; k++) { %>
                        <option><%=referenceType[k] %></option>
                      <% } %>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <span id="add-reference-btn" class="glyphicon glyphicon-plus"></span>
                  </div>
                </div>
                <% } %>
              </div>
            <% } %>
          <% } %>

          <div class="form-group">
            <label class="col-md-1 control-label">UPLOAD</label>
            <div class="col-md-11">
              <span class="btn btn-warning fileinput-button">
                  <i class="glyphicon glyphicon-plus"></i>
                  <span>Select Literature...</span>
                  <!-- The file input field used as target for the file upload widget -->
                  <input id="file-upload-literature" type="file" name="literature">
              </span>
              <br>
              <br>
              <!-- The global progress bar -->
              <div id="upload-progress-literature" class="progress progress-striped">
                  <div class="progress-bar progress-bar-success"></div>
              </div>
              <div id="uploaded-literature">
                <% if (literature.file && literature.file.name) { %>
                 <p>
                   <%=literature.file.name + ' (' + literature.file.size + ')' %>
                   <span data-path="<%=literature.file.path %>" class="remove-file glyphicon glyphicon-remove"></span>
                   <input type="hidden" name="file" value="<%=escape(JSON.stringify(literature.file)) %>" />
                 </p>
                <% } %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-1 control-label">UPLOAD</label>
            <div class="col-md-11">
              <span class="btn btn-default fileinput-button">
                  <i class="glyphicon glyphicon-plus"></i>
                  <span>Select Accessories...</span>
                  <!-- The file input field used as target for the file upload widget -->
                  <input id="file-upload-accessory" type="file" name="accessory" multiple>
              </span>
              <br>
              <br>
              <!-- The global progress bar -->
              <div id="upload-progress-accessory" class="progress progress-striped">
                  <div class="progress-bar progress-bar-success"></div>
              </div>
              <div id="uploaded-accessories">
                <% if (literature.accessories && literature.accessories.length) { %>
                <% for (var q = 0; q < literature.accessories.length; q++) { %>
                 <%  var accessory = literature.accessories[q]; %>
                 <p>
                   <%=accessory.name + ' (' + accessory.size + ')'  %>
                   <span data-path="<%=accessory.path %>" class="remove-file glyphicon glyphicon-remove"></span>
                   <input type="hidden" name="accessories[]" value="<%=escape(JSON.stringify(accessory)) %>" />
                 </p>
                <%  } %>
                <%  } %>
              </div>
            </div>
          </div>
        </form>
      </div>
      <% } %>
    </div>
  </div>
  <div class="pull-right">
    <button class="btn btn-default" id="cancle-btn" data-returnurl="<%=returnUrl ? returnUrl : ''  %>">Cancel</button>
    <button class="btn btn-success" id="submit-btn" data-requesturl="<%=requestUrl ? requestUrl : '' %>">Submit</button>
  </div>
</div>


